<!DOCTYPE html>
<html lang="en">
  <head><% include partials/template/head.ejs %></head>
  <body>
  	

    <div class="container">

    	
      <% include partials/content/form.ejs %>

      

    </div><!-- container div -->
	
	<% include partials/template/jsdefaults.ejs %>
  <% include partials/template/homejs.ejs %>

  </body>
</html>
