<div class = "row">

    <div class = "col-md-6 col-md-offset-3 center">

		<div id="errorBox">
	    	<h1>Argh! </h1> 
	    	<h3>We cannot retrive the data of your stock with query(<%= query %>). Please check your input and try again.</h3>
	    	<p><a href="/"><button id = "returnHome" class = "btn btn-success btn-lg">Back to Home</button></a></p>
		
		</div><!-- errorBox -->
	</div>

</div><!-- row -->

